.intro {
    width: 400px;
    height: 560px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

// .positionA {
//     position: absolute;
//     left: 1px;
//     top: 52px;
//     background: #B6C1F0;
//     transform: rotate(-37.07deg);
//     z-index: 1;
// }

// .positionB {
//     background: #92D0AB;
//     transform: rotate(5.11deg);
//     position: absolute;
//     z-index: 0;
//     left: 23px;
//     top: 58px;
// }

// .positionC {
//     position: absolute;
//     left: 122px;
//     top: 95px;
//     background: #DCD9BF;
//     transform: rotate(-62.33deg);
//     z-index: 1;
// }

// .positionD {
//     position: absolute;
//     left: 219.37px;
//     top: 64px;
//     background: #7FC2F4;
//     transform: rotate(17.81deg);
// }

// .positionE{
//     position: absolute;
//     left: 60px;
//     top: 113px;
//     background: #FF2F2F;
//     z-index: 3;
// }

// .positionF{
//     position: absolute;
//     left: 143.01px;
//     top: 106px;
//     background: #F486C9;
//     z-index: 1;
// }

// .positionG{
//     position: absolute;
//     left: 24.01px;
//     top: 166.24px;
//     background: #7FC2F4;
//     transform: rotate(-17.69deg);
// }

// .positionH{
//     position: absolute;
//     left: 99.01px;
//     top: 140px;
//     background: #FFB615;
//     border-radius: 100px;
//     z-index: 2;
// }

// .positionI{
//     position: absolute;
//     left: 192.01px;
//     top: 148px;
//     background: #FF5B2B;
//     z-index: 1;
// }

// .positionJ{
//     position: absolute;
//     left: 192.01px;
//     top: 148px;
//     background: #FF5B2B;
//     z-index: 1;
// }undefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefined