.intro {
    width: 400px;
    height: 560px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.positionA {
    position: absolute;
    left: 27px;
    top: 20px;
    background: #B6C1F0;
    transform: rotate(-37.07deg);
}

.positionB {}