.intro {
    width: 400px;
    height: 560px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.circleS {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}