.change-color {
    &__root {
    background: #191B1C;
    width: 410px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    }
}
