.rectangle {
    border-radius: 100px;
    background-color: #FF2F2F;
    width: 60px;
    height: 60px;
}

.smallCircle{
    border-radius: 100px;
    width: 60px;
    height: 60px;  
}

.medCircle{
    border-radius: 100px;
    width: 85px;
    height: 85px;    
}

.largeCircle{
    border-radius: 100px;
    width: 100px;
    height: 100px;  
}

.smallEllipse{
    border-radius: 100px;
    width: 120px;
    height: 60px;  
}

.medEllipse{
    border-radius: 100px;
    width: 180px;
    height: 60px;  
}

.largeEllipse{
    border-radius: 100px;
    width: 260px;
    height: 60px;  
}