@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_Rg.5a5798be.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_Rg_It.12f3cd9d.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_Bd.9d07f9d7.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_Bd_It.31766fc9.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_XBd.bcb42c9a.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForText";
    font-display: swap;
    font-style: italic;
    font-weight: 800;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforText_W_XBd_It.9d580e0e.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForDisplay";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforDisplay_W_Rg.ff9d13f7.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForDisplay";
    font-display: swap;
    font-weight: 700;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforDisplay_W_Bd.ef7750b0.woff2") format("woff2");
}

@font-face {
    font-family: "WixMadeForDisplay";
    font-display: swap;
    font-weight: 800;
    src: url("//wixmp-01fd07bebf1fbe0cb8eea7be.wixmp.com/pages/wix-fonts/1.0.6/media/WixMadeforDisplay_W_XBd.2d185bee.woff2") format("woff2");
}

.numeric-button {
    &__root {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        font-weight: 400;
        font-size: 30px;
        flex-direction: column;

    }
}

.numeric {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 30px;
    font-family: WixMadeForText, sans-serif;
    font-style: italic;

}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.one {

    background: #F486C9;
    width: 60px;
    height: 60px;
}

.two {
    background: #76B48F;
    width: 180px;
    height: 60px;
}

.three {
    width: 120px;
    height: 60px;
    background: #FFB615;
}

.four {
    background: #6A55A2;
    width: 120px;
    height: 60px;
}

.five {
    width: 250px;
    height: 60px;
    background: #DCD9BF;
}

.six {
    background: #268040;
    width: 60px;
    height: 60px;
}

.seven {
    width: 110px;
    height: 60px;
    background: #FF5B2B;
}

.eight {
    width: 60px;
    height: 60px;
    background: #FF2F2F;
}

.cover {
    background: #191B1C;
    width: 410px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}