.numeric-button {
    &__root {
        border-radius: 30px;
        background: #DCD9BF;
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Madefor-Text, sans-serif;

    }
}