.add-element {
    &__root {
        background: #191B1C;
        width: 410px;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 400;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px;
}

.elementRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.dragHere {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}